*{
	margin: 0;
	padding: 0;
	outline: none;
}

body {background: url("pictures/bg.png");}

a {text-decoration: none;
}

p {color: white;}

ul {list-style-type: none;}

.b3radius {border-radius: 15px 15px 0px 0px;}

#page_align {
	width: 1000px;
	margin: 20px auto;
	background: #FFF;
	box-shadow: 0px 0px 10px #6e6e71;
}

.clrb {
	clear: both;
}
/*main.html*/
/*Шапка*/
header {
	height: 154px;
	/*border-bottom: solid 10px #cecfd2;*/
	position: relative;
}

#logo {
	display: block;
	position: absolute; left: 5px; top: 2px;
	height: 110px;
	width: 310px;
	background: url("pictures/sprite.png") 0 0px; 
}

#headertext {
	color: #808285;
	font-size: 20px;
	position: absolute; left: 338px; top: 28px;
}

#google_icone {
	position: absolute; left: 644px; top: 64px;
}

#facebook_icone{
	position: absolute; left: 680px; top: 64px;
}

#UA {
	color: #808285;
	font-size: 14px;
	position: absolute; right: 87px; top: 14px;
}

#RU {
	color: #808285;
	font-size: 14px;
	position: absolute; right: 28px; top: 14px;
}

nav {
	position: absolute; top:119px; left:0px;
	width: 1000px;
	height: auto;
}

nav ul li {
	background: url("pictures/header/navbgnd.png");
	float: left;
	border-right: solid 1px #338e22;
}

nav ul li:last-child {
	border-right: none;
}

nav ul li a {
	color: white;
	text-shadow: 1px 1px 2px black;
	line-height: 35px;
	padding: 0 11px;
	display: block;
}

nav ul li a:hover {
	background: url("pictures/header/hovermenu.png");
}

#main_banner {
	position: relative;
}

#main_banner { 
	height: 550px;
	width: 1000px;
	border-top: solid 10px #cecfd2;
	border-bottom: solid 10px #e7e8e9;
}
.mainimage {
	position: absolute; bottom: 20px;
}
#second_boarder {
	position: absolute; top: 0px;left: 0;
	background-color: #e7e8e9;
	min-height: 10px;
	width: 1000px;
}

#contactarea {
	height: 155px;
	position: absolute; bottom: 0px;
	box-shadow: 0px -2px 7px gray;
}

#bannertext {
	color: white;
	font-size: 42px;
	position: absolute; top: 15px; left: 40px;
	text-shadow: 2px 2px 7px black;
}

#cosmetology_button {
	height: 108px;
	width: 184px;
	float: right;
	position: absolute; bottom: 25px; right: 13px;
	background: url("pictures/sprite.png") 0 -112px;

}

#cosmetology_button:hover {
	opacity: 0.75;
}

#cosmetology_button div {
	text-align: center;
	font-size: 20px;
	color: #2a8038;
	position: absolute; bottom: 30px; left: 10px;
}

#place_icone {
	height:36px; 
	width:24px;
	position: absolute; bottom: 26px; left: 35px;
	background: url("pictures/sprite.png") -80px 36px;	
}

#place_icone:hover {
	opacity: 0.75;
}

#findplace_button {
	height: 43px;
	width: 166px;
	float: left;
	position: absolute; bottom: 23px; left: 65px;
	background: url("pictures/sprite.png") 0 80px;
}

#findplace_button:hover {
	opacity: 0.75;
}

#findplace_button div {
	text-align: left;
	color: #2a8038;
	position: absolute; bottom: 4px; left: 20px;
}

#contact_text1 {
	text-align: left;
	color: #edf6ed;
	position: absolute; bottom: 80px; left: 67px;
}

#phone_icone {
	height: 33px;
	width: 30px;
	position: absolute; bottom: 95px; left: 305px;
	background: url("pictures/sprite.png") -44px 35px;
}

#phone_icone:hover {
	opacity: 0.75;
}

#contact_text2 {
	text-align: left;
	color: #edf6ed;
	position: absolute; bottom: 90px; left: 352px;
}

#question_icone {
	height: 35px;
	width: 39px;
	position: absolute; bottom: 30px; left: 300px;	
	background: url("pictures/sprite.png") 0px 36px;
}

#question_icone:hover {
	opacity: 0.8;
}

#contact_text3 {
	text-align: left;
	color: #edf6ed;
	position: absolute; bottom: 25px; left: 352px;	
}

#contact_numbers {
	font-size: 34px;
	text-align: left;
	color: #edf6ed;
	position: absolute; bottom: 35px; left: 550px;	
}

.change_image_buton_right {
	height: 36px; 
	width: 37px;
	position: absolute; top: 165px; right: 22px;
	background: url("pictures/sprite.png") 77px 0px;
}

.change_image_buton_right:hover {
	opacity: 0.75;
}

.image_indicators {
	position: absolute; bottom: 171px; right: 22px;

}

.white_indicator {
	float: left;
	margin-left: 5px; 
	height: 5px; 
	width: 5px;
	background: url("pictures/sprite.png") 5px -16px;
}

.blue_indicator {
	float: left;
	background: url("pictures/sprite.png") 10px -16px;
	height: 5px; 
	width: 5px;
}

/*Banners*/

#banners {
	height: 400px;	
}

#banners ul li {
	position: relative;
}

#banners ul li {
	height: 199px;
	float: left;
}

#banners ul li:nth-child(1) {
	padding: 0 2px 2px 0;
}

#banners ul li:nth-child(2) {
	padding: 0 2px 2px 0;
}

#banners ul li:nth-child(4) {
	padding-right: 2px;
}

#banners ul li:nth-child(5) {
	padding-right: 2px;
}

.bannertext {
	font-size: 16px;
	text-shadow: 2px 2px 7px black;
	text-align: right;
	color: #ffffff;
	position: absolute; bottom: 43px; right: 20px;
}

#banner1button {
	color: #2a8038;
	text-align: center;
	position: absolute; left: 156px; top: 165px;
	height: 23px;
	width: 151px;
	background: url("pictures/sprite.png") -189px -112px;
}

#banner1button:hover {
	opacity: 0.75;
}

#banner2button {
	color: #2a8038;
	text-align: center;
	position: absolute; left: 156px; top: 165px;
	height: 23px;
	width: 151px;
	background: url("pictures/sprite.png") -189px -112px;
}

#banner2button:hover {
	opacity: 0.75;
}

#banner3button {
	color: #2a8038;
	text-align: center;
	position: absolute; left: 156px; top: 165px;
	height: 23px;
	width: 151px;
	background: url("pictures/sprite.png") -189px -112px;
}

#banner3button:hover {
	opacity: 0.75;
}

#banner4button {
	color: #2a8038;
	text-align: center;
	position: absolute; left: 156px; top: 165px;
	height: 23px;
	width: 151px;
	background: url("pictures/sprite.png") -189px -112px;
}

#banner4button:hover {
	opacity: 0.75;
}

#banner5button {
	color: #2a8038;
	text-align: center;
	position: absolute; left: 156px; top: 165px;
	height: 23px;
	width: 151px;
	background: url("pictures/sprite.png") -189px -112px;
}

#banner5button:hover {
	opacity: 0.75;
}

#banner6button {
	color: #2a8038;
	text-align: center;
	position: absolute; left: 156px; top: 165px;
	height: 23px;
	width: 151px;
	background: url("pictures/sprite.png") -189px -112px;
}

#banner6button:hover {
	opacity: 0.75;
}

#main_page_footer {
	height: 270px;
	background-color: #003E4F;
	border-top: solid 10px #e7e8e9;
	box-shadow: inset 0 3px 3px;
	position: relative;
}

#footer1 {
	height: 267px;
	width: 980px;
	margin-left: 10px;
	border-bottom: 1px solid #fff;
}

#footer_title {
	color: #fff;
	font-size: 22px;
	float: left;
	padding: 30px 0 0 17px;
}

#service_list {
	color: #fff;
	float: left; 
	width: 378px;
	padding: 20px 0 0 17px;
}

#service_list ul {
	padding-left: 16px; 
	list-style-type: disc;
	text-decoration: underline;
}

#service_list ul li a {
	color: #fff;
}

#footer_history {
	position: absolute; left: 436px; top: 75px;
	width: 527px;
	color: #fff;
}

footer {
	position: relative;
	background-color: #003E4F;
	height: 133px;

}

#footer_copyright {
	float: left;
	color: #8dc63f;
	font-size: 14px;
	padding: 35px 0 0 10px;
}

#main_footer_title {
	position: absolute; top: 35px; left: 205px;
	color: #fff;
	text-align: center;
	font-size: 14px;
}

#join_footer {
	position: absolute; right: 10px; top: 35px;
	color: #fff;
	font-size: 12px;
}

#footer_google_icone {
	position: absolute; right: 50px; top: 25px;
}

#footer_facebook_icone {
	position: absolute; right: 10px; top: 25px;
}

/*about_us.html*/

/*Лента новостей*/

.main_banner_about_us {
	position: relative;
	height: 557px;
	width: 1000px;
	border-bottom: solid 10px #e7e8e9;
	/*box-shadow: inset 0px 5px 5px black;*/
}

.submenu_about_us {
	height: 26px;
	background: #bcbec0;
}

.submenu_about_us ul li{
	display: inline-block;
	padding: 4px 0 0 70px;
}

.submenu_about_us ul li a{
	color: white;
	text-shadow: 1px 1px 2px black;
}

.submenu_about_us ul li a:hover{
	color: #003545;
}

.about_us_banner {
	border-top: solid 4px #e7e8e9;
	padding-top: 0px; 
}

.bannertext_about_us {
	position: absolute; top:100px; left:80px;
	font-size: 40px;
	color: #003848;
}

.change_image_buton_left {
	height: 36px; 
	width: 37px;
	position: absolute; top: 165px; left: 22px;
	background: url("pictures/sprite.png") 90px -64px;
}

.change_image_buton_left:hover {
	opacity: 0.75;
}

#var_news {
	position: relative;
	height: 192px;
}

#var_news ul li {
	float: left;
	height: 150px;
	width: 303px;
	padding: 12px 21px 0 0;
}

#var_news ul li:first-child {
	padding-left: 24px;
}

.news_title {
	font-size: 20px;
	color: #8dc63f;
}

.news_text {
	padding: 6px 0 0 140px;
	height: 95px;
	width: 160px;
	overflow: hidden;
}

#date_news_block {
	padding-top: 6px;
	color: #939598;
}

#news_block {
	height: 75px;
	overflow: hidden;
}

.news_link_button {
	padding-left: 140px;
	text-decoration: underline;
	position: absolute; top: 145px;
}

#all_news_button {
	text-decoration: underline;
	position: absolute; top: 145px;
}

.photo_news {
	overflow: hidden;
	position: absolute;
	height: 116px;
	width: 116px;
	padding-top: 10px;

}

/*Банеры*/

#banners_about_us {
	position: relative;
	height: 199px;
	border-left: 10px #e7e8e9;	
}

#banners_about_us ul {
	position: absolute; bottom: 0;
	border-bottom: solid 10px #e7e8e9;
}

#banners_about_us ul li {
	position: relative;
}

#banners_about_us ul li {
	height: 199px;
	float: left;
}

#banners_about_us ul li:nth-child(1) {
	padding: 0 2px 0 0;
}

#banners_about_us ul li:nth-child(2) {
	padding: 0 2px 0 0;
}

#about_us_banner {
	position: relative; bottom: -15px;
}

/*about_us_sertificates*/

.main_banner_about_us_sertificates {
	position: relative;
}

.submenu_about_us_sertificates {
	height: 26px;
	background: #bcbec0;
}

.submenu_about_us_sertificates ul li{
	display: inline-block;
	padding: 4px 0 0 70px;
}

.submenu_about_us_sertificates ul li a{
	color: white;
	text-shadow: 1px 1px 2px black;
}

.submenu_about_us_sertificates ul li a:hover{
	color: #003545;
}

.contact_cert {
	position: absolute; top: 155px; right: 0px;
	box-shadow: 0 0 5px grey;
}

.contact_numbers_cert {
	font-size: 34px;
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 165px; right: 18px;
}

.contact_cert_text3 {
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 257px; left: 584px;
}

.contact_cert_text2 {
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 190px; left: 584px;
}

.phone_icone_cert {
	height: 33px;
	width: 30px;
	position: absolute; top: 191px; left: 538px;
	background: url("pictures/sprite.png") -44px 35px;
}

.phone_icone_cert:hover {
	opacity: 0.75;
}


.question_icone_cert {
	height: 35px;
	width: 39px;
	position: absolute; top: 265px; left: 538px;	
	background: url("pictures/sprite.png") 0px 36px;
}

.question_icone_cert:hover {
	opacity: 0.8;
}

.cosmetology_button_cert {
	height: 65px;
	width: 218px;
	position: absolute; top: 248px; right: 12px;	
	background: url("pictures/sprite.png") -182px -235px;
}

.cosmetology_button_cert:hover {
	opacity: 0.75;
}

.about_us_banner_sertificates {
	border-top: solid 4px #e7e8e9;
	padding-top: 0px; 
}

.sertificates_border {
	margin-top: -4px; 
	height: 47px;
	width: 1000px;
	background-color: #d2d3d5;
	border-top: solid 4px #e6e7e8;
	border-bottom: solid 4px #e6e7e8;
	text-align: left;
}

.sertificates_border_text {
	margin: 15px 0 0 50px;
	font-size: 16px;
	color: #003d4c;
}

.cert_list_area { 
	padding-top: 30px;
	height: 715px;
	width: 1000px;
	background: white;
}

.cert_list_area ul {
	padding-left: 26px;
}

.image_cut_certificate {
	overflow: hidden;
	height: 212px;
	width: 265px;
	float: left;
	margin-left: 27px;
	box-shadow: 1px 1px 7px;
}

.cert_list_area ul li:nth-child(1) {
	margin: 0 0 22px 27px;
}

.cert_list_area ul li:nth-child(2) {
	margin: 0 0 22px 27px;
}

.cert_list_area ul li:nth-child(3) {
	margin: 0 0 22px 27px;
}

.cert_list_area ul li:nth-child(4) {
	margin: 0 0 22px 27px;
}

.cert_list_area ul li:nth-child(5) {
	margin: 0 0 22px 27px;
}

.cert_list_area ul li:nth-child(6) {
	margin: 0 0 22px 27px;
}

.page_cert {
	border-bottom: solid 10px #e7e8e9;
	height: 50px;
	padding-left: 49px; 
}

.page_cert ul li {
	float: left;
	padding-left: 15px;
}

.page_cert ul li a {
	color: #939598;
}

.page_cert ul li a:hover {
	color: #8dc63f;
}


/*about_us_about_company*/

.main_banner_about_company {
	position: relative;
	height: 1000px;
	border-bottom: solid 10px #e7e8e9;
}

.submenu_about_company {
	height: 26px;
	background: #bcbec0;
}

.submenu_about_company ul li{
	display: inline-block;
	padding: 4px 0 0 70px;
}

.submenu_about_company ul li a{
	color: white;
	text-shadow: 1px 1px 2px black;
}

.submenu_about_company ul li a:hover{
	color: #003545;
}

.contact_about_company {
	position: absolute; top: 155px; right: 0px;
	box-shadow: 0 0 5px grey;
}

.contact_numbers_about_company {
	font-size: 34px;
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 165px; right: 18px;
}

.contact_about_company_text3 {
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 257px; left: 584px;
}

.contact_about_company_text2 {
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 190px; left: 584px;
}

.phone_icone_about_company {
	height: 33px;
	width: 30px;
	position: absolute; top: 191px; left: 538px;
	background: url("pictures/sprite.png") -44px 35px;
}

.phone_icone_about_company:hover {
	opacity: 0.75;
}

.question_icone_about_company {
	height: 35px;
	width: 39px;
	position: absolute; top: 265px; left: 538px;	
	background: url("pictures/sprite.png") 0px 36px;
}

.question_icone_about_company:hover {
	opacity: 0.8;
}

.cosmetology_button_about_company {
	height: 65px;
	width: 218px;
	position: absolute; top: 248px; right: 12px;	
	background: url("pictures/sprite.png") -182px -235px;
}

.cosmetology_button_about_company:hover {
	opacity: 0.75;
}

.about_company_banner {
	border-top: solid 4px #e7e8e9;
	padding-top: 0px; 
}

.about_company_border {
	position: absolute; top: 405px;
	height: 47px;
	width: 1000px;
	background-color: #d2d3d5;
	border-top: solid 4px #e6e7e8;
	border-bottom: solid 4px #e6e7e8;
}

.about_company_border_text {
	margin: 15px 0 0 50px;
	font-size: 16px;
	color: #003d4c;
}

.news_photo {
	overflow: hidden;
	height: 430px;
	width: 310px;
	float: left;
	margin: 70px 0 0 49px;
}

.news_about_us_text {
	padding: 65px 0 0 401px;
	color: #231f20;
}


/*about_us_news*/

.main_banner_about_us_news {
	position: relative;
	height: 1017px;
	border-bottom: solid 10px #e6e7e8;
}

.submenu_about_us_news {
	height: 26px;
	background: #bcbec0;
}

.submenu_about_us_news ul li{
	display: inline-block;
	padding: 4px 0 0 70px;
}

.submenu_about_us_news ul li a{
	color: white;
	text-shadow: 1px 1px 2px black;
}

.submenu_about_us_news ul li a:hover{
	color: #003545;
}

.main_news_title {
	position: absolute; top: 65px; left: 421px;
	font-size: 38px;
	color: #003848;
}

.clinic_news_icone {
	height: 50px;
	width: 50px;
	position: absolute; top: 75px; left: 402px;
	background: url("pictures/sprite.png") 50px -70px;
}

.contact_news {
	position: absolute; top: 155px; right: 0px;
	box-shadow: 0 0 5px grey;
}

.contact_numbers_news {
	font-size: 34px;
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 165px; right: 18px;
}

.contact_news_text3 {
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 257px; left: 584px;
}

.contact_news_text2 {
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 190px; left: 584px;
}

.phone_icone_news {
	height: 33px;
	width: 30px;
	position: absolute; top: 191px; left: 538px;
	background: url("pictures/sprite.png") -44px 35px;
}

.phone_icone_news:hover {
	opacity: 0.75;
}


.question_icone_news {
	height: 35px;
	width: 39px;
	position: absolute; top: 265px; left: 538px;	
	background: url("pictures/sprite.png") 0px 36px;
}

.question_icone_news:hover {
	opacity: 0.8;
}

.cosmetology_button_news {
	height: 65px;
	width: 218px;
	position: absolute; top: 248px; right: 12px;	
	background: url("pictures/sprite.png") -182px -235px;
}

.cosmetology_button_news:hover {
	opacity: 0.75;
}

.about_us_banner_news {
	border-top: solid 4px #e7e8e9;
	padding-top: 0px; 
}

.news_border {
	margin-top: -4px; 
	height: 47px;
	width: 1000px;
	background-color: #d2d3d5;
	border-top: solid 4px #e6e7e8;
	border-bottom: solid 4px #e6e7e8;
	text-align: left;
}

.news_border_text {
	margin: 15px 0 0 50px;
	font-size: 16px;
	color: #003d4c;
}

.news_block_about_us_news {
	padding: 35px 0 0 50px;
	float: left;
}

.news_li_style {
	width: 530px;
	height: 135px;
	border-bottom: dotted 2px;
	padding-top: 15px;
}

.news_date_about_us_news {
	color: #939598;
	font-size: 16px;
}

.news_title_about_us_news {
	color: #8dc63f;
	font-size: 16px;
}

.news_cut_image {
	margin-top: 5px; 
	width: 73px;
	height: 73px;
	float: left;
	overflow: hidden;
}

.news_text_about_us_news {
	word-wrap: break-word;
	padding: 5px 0 0 21px;
	width: 341px;
	max-height: 53px;
	overflow: hidden;
}

.more_news {
	padding: 5px 0 0 91px;
}

.more_news a {
	color: #8dc63f;
	text-decoration: underline;
}

.right_column_background {
	padding: 50px 0 0 20px;
}

.right_column_ulstyle {
	clear: both;
	position: absolute; top: 515px; left: 615px;
}

.right_column_listyle {
	padding-top: 10px;
	width: 318px;
	height: 140px;
	border-bottom: dotted 2px #FFFFFF;
}

.right_column_listyle:last-child {
	border-bottom: none;
}

.right_column_text {
	padding-top: 5px;
	color: #FFFFFF;
	width: 318px;
	max-height: 90px;
	overflow: hidden;
}

.right_column_more a {
	color: #FFFFFF;
	text-decoration: underline;
}

.right_column_title {
	color: #FFFFFF;
}

.page_news {
	position: absolute; bottom: 35px; left: 35px;
}

.page_news ul li {
	float: left;
	padding-left: 15px;
}

.page_news ul li a {
	color: #939598;
}

.page_news ul li a:hover {
	color: #8dc63f;
}

/*about_us_news2*/

.main_banner_about_us_news2 {
	position: relative;
	height: 1017px;
	border-bottom: solid 10px #e6e7e8;
}

.submenu_about_us_news2 {
	height: 26px;
	background: #bcbec0;
}

.submenu_about_us_news2 ul li{
	display: inline-block;
	padding: 4px 0 0 70px;
}

.submenu_about_us_news2 ul li a{
	color: white;
	text-shadow: 1px 1px 2px black;
}

.submenu_about_us_news2 ul li a:hover{
	color: #003545;
}

.main_news_title2 {
	position: absolute; top: 65px; left: 421px;
	font-size: 38px;
	color: #003848;
}

.clinic_news2_icone {
	height: 50px;
	width: 50px;
	position: absolute; top: 75px; left: 402px;
	background: url("pictures/sprite.png") 50px -70px;
}

.contact_news2 {
	position: absolute; top: 155px; right: 0px;
	box-shadow: 0 0 5px grey;
}

.contact_numbers_news2 {
	font-size: 34px;
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 165px; right: 18px;
}

.contact_news2_text3 {
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 257px; left: 584px;
}

.contact_news2_text2 {
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 190px; left: 584px;
}

.phone_icone_news2 {
	height: 33px;
	width: 30px;
	position: absolute; top: 191px; left: 538px;
	background: url("pictures/sprite.png") -44px 35px;
}

.phone_icone_news2:hover {
	opacity: 0.75;
}

.question_icone_news2 {
	height: 35px;
	width: 39px;
	position: absolute; top: 265px; left: 538px;	
	background: url("pictures/sprite.png") 0px 36px;
}

.question_icone_news2:hover {
	opacity: 0.8;
}

.cosmetology_button_news2 {
	height: 65px;
	width: 218px;
	position: absolute; top: 248px; right: 12px;	
	background: url("pictures/sprite.png") -182px -235px;
}

.cosmetology_button_news2:hover {
	opacity: 0.75;
}

.about_us_banner_news2 {
	border-top: solid 4px #e7e8e9;
	padding-top: 0px; 
}

.news2_border {
	margin-top: -4px; 
	height: 47px;
	width: 1000px;
	background-color: #d2d3d5;
	border-top: solid 4px #e6e7e8;
	border-bottom: solid 4px #e6e7e8;
	text-align: left;
}

.news2_border_text {
	margin: 15px 0 0 50px;
	font-size: 16px;
	color: #003d4c;
}

.news_block_about_us_news2 {
	height: 519px;
	width: 488px;
	padding: 45px 0 0 50px;
}

.news2_pict_cut {
	height: 463px;
	width: 350px;
	overflow: hidden;
	position: absolute; top: 506px; right: 55px;

}

.news_text_about_us_news2 {
	padding-top: 5px;
}

.news2_date_about_us_news {
	color: #939598;
	font-size: 16px;
}

.news_title_about_us_news2 {
	color: #8dc63f;
	font-size: 16px;
}

.more_news2 {
	padding-top: 15px;
}

.more_news2 a {
	color: #8dc63f;
	text-decoration: underline;
}


/*price.html*/

.main_banner_price {
	position: relative;
	border-bottom: solid 10px #e7e8e9;
}

.submenu_price {
	height: 26px;
	background: #bcbec0;
}

.submenu_price ul li{
	display: inline-block;
	padding: 4px 0 0 70px;
}

.submenu_price ul li a{
	color: white;
	text-shadow: 1px 1px 2px black;
}

.submenu_price ul li a:hover{
	color: #003545;
}

.contact_price {
	position: absolute; top: 155px; right: 0px;
	box-shadow: 0 0 5px grey;
}

.contact_numbers_price {
	font-size: 34px;
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 165px; right: 18px;
}

.contact_price_text3 {
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 257px; left: 584px;
}

.contact_price_text2 {
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 190px; left: 584px;
}

.phone_icone_price {
	height: 33px;
	width: 30px;
	position: absolute; top: 191px; left: 538px;
	background: url("pictures/sprite.png") -44px 35px;
}

.phone_icone_price:hover {
	opacity: 0.75;
}

.question_icone_price {
	height: 35px;
	width: 39px;
	position: absolute; top: 265px; left: 538px;	
	background: url("pictures/sprite.png") 0px 36px;
}

.question_icone_price:hover {
	opacity: 0.8;
}

.cosmetology_button_price {
	height: 65px;
	width: 218px;
	position: absolute; top: 248px; right: 12px;	
	background: url("pictures/sprite.png") -182px -235px;
}

.cosmetology_button_price:hover {
	opacity: 0.75;
}

.banner_price {
	border-top: solid 4px #e7e8e9;
	padding-top: 0px; 
}

.price_border {
	margin-top: -4px; 
	height: 10px;
	width: 1000px;
	background-color: #d2d3d5;
}

.price_list_area { 
	margin: 30px 0 0 50px;
	min-height: 360px;
	width: 1000px;
}

.price_listyle {
	padding-top: 15px;
	list-style-type: disc;
	color: #8dc63f;
}

.price_listyle a {
	color: #8dc63f;
}

.price_sub_listyle {
	color: black;
}

.price_sub_listyle:first-child {
	padding-top: 5px;
}

.price_name {
	float: left;
	width: 550px;
}

.price {
	float: left;
	width: 45px;
}

.hidden_sub_price {
	display: none;
}

.price_listyle:hover ul {
	display: block;
}


/*doctors.html*/

.main_banner_doctors {
	position: relative;
	border-top: solid 10px #cfcfd2;
	border-bottom: solid 10px #e7e8e9;
}

.banner_title_doctors {
	position: absolute; top: 47px; left: 350px;
	color: #003848;
	font-size: 34px;
}

.contact_doctors {
	position: absolute; top: 155px; right: 0px;
	box-shadow: 0 0 5px grey;
}

.contact_numbers_doctors {
	font-size: 34px;
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 165px; right: 18px;
}

.contact_doctors_text3 {
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 257px; left: 584px;
}

.contact_doctors_text2 {
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 190px; left: 584px;
}

.phone_icone_doctors {
	height: 33px;
	width: 30px;
	position: absolute; top: 191px; left: 538px;
	background: url("pictures/sprite.png") -44px 35px;
}

.phone_icone_doctors:hover {
	opacity: 0.75;
}

.question_icone_doctors {
	height: 35px;
	width: 39px;
	position: absolute; top: 265px; left: 538px;	
	background: url("pictures/sprite.png") 0px 36px;
}

.question_icone_doctors:hover {
	opacity: 0.8;
}

.cosmetology_button_doctors {
	height: 65px;
	width: 218px;
	position: absolute; top: 248px; right: 12px;	
	background: url("pictures/sprite.png") -182px -235px;
}

.cosmetology_button_doctors:hover {
	opacity: 0.75;
}

.banner_doctors {
	border-top: solid 10px #e7e8e9;
	padding-top: 0px; 
}

.clinic_place_nav {
	margin-top: -4px; 
	height: 45px;
	width: 1000px;
	background-color: #d2d3d5;
	box-shadow: 0 0 5px;
}

.clinic_place_nav_background {
	position: relative;
}

.place_icone_doctors {
	margin-top: 5px;
	height: 35px; 
	width:24px;
	background: url("pictures/sprite.png") -80px 36px;	
}

.ulstyle_doctors {
	position: absolute; top: 395px;
}

.place_text_doctors {
	margin-top: 2px;
	margin-left: 10px; 
}

.ulstyle_doctors li {
	color: #FFFFFF;
	float: left;
}

.place_button_doctors {
	line-height: 21px;
	width: auto;
	padding: 0 16px;
	display: block;
}

.place_button_doctors:hover {
	background: #FFFFFF;
}

.place_button_doctors a ul li:hover {
	color: #8dc63f; 
}

.doc_full_info {
	position: relative;
	margin: 19px 0 0 50px;
	width: 904px;
	min-height: 257px;
	border-bottom: solid 1px #bfbfbf;
}

.doc_image {
	float: left;
	margin-right: 24px;
}

.doc_info1 {
	min-height: 257px;
	width: 480px;
	border-right: solid 1px #bfbfbf;
	float: left;
}

.back_to_doc_list {
	margin: 50px 0 0 50px;
}

.back_to_doc_list a {
	color: #42afe8;
	text-decoration: underline;
}

.doc_info2 {
	padding: 0 0 0 530px;
}

.doc_info_button {
	color: #2a8038;
	text-align: center;
	height:24px; 
	width:194px;
	position: absolute; bottom: 20px; right: 185px;
	background: url("pictures/sprite.png") 215px -138px;
}

.doc_publications a {
	font-size: 12px;
	color: #42afe8;
}

.doc_publications_icone {
	float: left;
	height:20px; 
	width:17px;
	background: url("pictures/sprite.png") -107px -267px;
}

.doc_name{
	color: #8dc63f;
}

.doc_specialization ul li {
	margin-left: 215px;
	list-style-type: disc;
}

.doc_experience {
	text-decoration: underline;
}

.works {
	margin: 23px 0 0 50px;
	padding-bottom: 20px;
	-webkit-column-count:2;  
    -moz-column-count:2;  
    column-count:2;
	width: 900px;
	height: 722px;
	border-bottom: solid 1px #bfbfbf;
}

.curse_list_icone {
	float: left;
	height:20px; 
	width:17px;
	background: url("pictures/sprite.png") -130px -267px;
}

.curse_list {
	color: #8dc63f;
}

.example_works {
	width: 900px;
	height: 420px;
	margin: 20px 0 0 50px;
}

.example_works ul li {
	border: solid 3px #FFFFFF;
	box-shadow: 0 0 7px;
	margin-top: 20px; 
	overflow: hidden;
	float: left;
	width: 175px;
	height: 90px;
}

.example_works ul li:nth-child(2) {
	margin-left: 10px;
}

.example_works ul li:nth-child(3) {
	margin-left: 10px;
}

.example_works ul li:nth-child(4) {
	margin-left: 10px;
}

.example_works ul li:nth-child(6) {
	margin-left: 10px;
}

.example_works ul li:nth-child(7) {
	margin-left: 10px;
}

.example_works ul li:nth-child(8) {
	margin-left: 10px;
}

.example_works ul li:nth-child(10) {
	margin-left: 10px;
}

.example_works ul li:nth-child(11) {
	margin-left: 10px;
}


/*Vrachi
/

*/
.main_banner_vrachi {
	position: relative;
	border-top: solid 10px #cfcfd2;
	border-bottom: solid 10px #e7e8e9;
}

.banner_title_vrachi {
	position: absolute; top: 47px; left: 350px;
	color: #003848;
	font-size: 34px;
}

.contact_vrachi {
	position: absolute; top: 155px; right: 0px;
	box-shadow: 0 0 5px grey;
}

.contact_numbers_vrachi {
	font-size: 34px;
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 165px; right: 18px;
}

.contact_vrachi_text3 {
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 257px; left: 584px;
}

.contact_vrachi_text2 {
	text-align: left;
	color: #edf6ed;
	position: absolute; top: 190px; left: 584px;
}

.phone_icone_vrachi {
	height: 33px;
	width: 30px;
	position: absolute; top: 191px; left: 538px;
	background: url("pictures/sprite.png") -44px 35px;
}

.phone_icone_vrachi:hover {
	opacity: 0.75;
}

.question_icone_vrachi {
	height: 35px;
	width: 39px;
	position: absolute; top: 265px; left: 538px;	
	background: url("pictures/sprite.png") 0px 36px;
}

.question_icone_vrachi:hover {
	opacity: 0.8;
}

.cosmetology_button_vrachi {
	height: 65px;
	width: 218px;
	position: absolute; top: 248px; right: 12px;	
	background: url("pictures/sprite.png") -182px -235px;
}

.cosmetology_button_vrachi:hover {
	opacity: 0.75;
}

.banner_vrachi {
	border-top: solid 10px #e7e8e9;
	padding-top: 0px; 
}

.clinic_place_nav_vrachi {
	margin-top: -4px; 
	height: 45px;
	width: 1000px;
	background-color: #d2d3d5;
	box-shadow: 0 0 5px;
}

.clinic_place_nav_background_vrachi {
	position: relative;
}

.place_icone_vrachi {
	margin-top: 5px;
	height: 35px; 
	width:24px;
	background: url("pictures/sprite.png") -80px 36px;	
}

.ulstyle_vrachi {
	position: absolute; top: 395px;
}

.place_text_vrachi {
	margin-top: 2px;
	margin-left: 10px; 
}

.ulstyle_vrachi li {
	color: #FFFFFF;
	float: left;
}

.place_button_vrachi {
	line-height: 21px;
	width: auto;
	padding: 0 16px;
	display: block;
}

.place_button_vrachi:hover {
	background: #FFFFFF;
}

.place_button_vrachi a ul li:hover {
	color: #8dc63f; 
}

.vrachi_full_info{
	margin: 16px 0 0 50px;
	width: 1000px;
	height: 1515px;
}

.vrach_list {
	position: relative;
	padding: 34px 0 30px 0;
	float: left;
	width: 470px;
	height: 233px;
	border-bottom: solid 1px #bfbfbf;
}

.vrach_list:nth-child(9) {
	border-bottom: none;
}

.vrach_list:nth-child(10) {
	border-bottom: none;
}

.vrachi_image {
	float: left;
	margin-right: 25px;
}

.vrachi_name{
	color: #8dc63f;
}

.vrachi_specialization ul li {
	list-style-type: disc;
	margin-left: 215px;
}

.vrachi_experience {
	text-decoration: underline;
}

.podrobney_vrachi {
	position: absolute; bottom: 30px;
	text-decoration: underline;
	color: #0095da;
}